.questionLine {
    display: flex;
    flex-direction: row;
    margin-left: 20%;
    margin-bottom: 10px;
}

.questionLine label {
    width: 15%;
}

.questionLine input {
    width: 100%;
    border-radius: 5px;
    border-color: rgb(38, 6, 68);
    border-width: 1px;
    padding: 2px;
}

.questionLine textarea {
    width: 100%;
    border-radius: 5px;
    border-color: rgb(38, 6, 68);
    padding: 2px;
}

.error input {
    border-width: 3px;
    border-color: red;
}

.error textarea {
    border-width: 3px;
    border-color: red;
}

.error div {
    color: red;
}

.field {
    width: 50%;
    display: flex;
    flex-direction: column;
}