* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

html {
  overflow-x: hidden;
}

.App {
  font-family: 'Poppins', sans-serif;
  background-color: rgb(158, 82, 202);
  min-height: 100vh;
  height: 100%;
  width: 100vw;
  color: aliceblue;
}